.grid-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-gap: 15px;
  margin-bottom: 3rem;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--spacer);

  .dropdown {
    margin-right: var(--spacer-sm);
  }
}
