// Badges
.badge {
  border: 1px solid var(--color-dim);
  margin-bottom: var(--spacer-sm);
  padding: calc(#{var(--spacer-sm)} * 0.8) calc(#{var(--spacer-sm)} * 2);
}

.badges {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(#{var(--spacer-sm)} * -1) 0.3em;

  .badge {
    margin-left: var(--spacer-sm);
  }
}
