.dropdown {
  position: relative;
  pointer-events: none;
  margin-bottom: var(--spacer-sm);

  &.open {
    z-index: 1000;

    &:after {
      content: none;
    }
  }
}

.dropdown-toggle {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-dark);
  border: 1px solid var(--color-dark);
  font-size: 1rem;
  padding: calc(var(--spacer-sm) * 2) var(--spacer);
  pointer-events: initial;
  cursor: pointer;
  font-weight: 200;

  &:focus {
    outline: none;
  }

  @include pseudo-triangle(var(--color-dimmest));

  .dropdown.open & {
    background-color: var(--color-darkest);

    &:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      left: -1px;
      top: 100%;
      width: 100%;
      box-sizing: content-box;
      height: calc(var(--spacer-sm) + 2px);
      background-color: var(--color-darkest);
      border-left: 1px var(--color-dark) solid;
      border-right: 1px var(--color-dark) solid;
    }

    &[data-popper-placement^=top] {
      border-top-color: transparent;

      &:before {
        top: auto;
        bottom: 100%;
      }
    }

    &[data-popper-placement^=bottom] {
      border-bottom-color: transparent;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 0;
  width: 36ch;
  max-width: calc(100vw - var(--spacer) * 2);
  background-color: var(--color-darkest);
  border: 1px solid var(--color-dark);
  padding: var(--spacer);
  pointer-events: initial;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.7);


  .dropdown.open & {
    display: flex;
    flex-direction: column;
  }
}

.dropdown-options {
  margin-bottom: var(--spacer);
  overflow-y: auto;
  max-height: 230px;

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar {
    background: none;
    width: 19px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-dark);
    border-left: 8px solid var(--color-darkest);
  }
}

.dropdown-option {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-light);
  -webkit-font-smoothing: antialiased;

  &:hover,
  &.highlighted {
    background-color: var(--color-darker);
    color: var(--color-white);

    input {
      background-image:  escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='20px' height='20px'><rect width='20' height='20' stroke-width='1' stroke='#fff' fill='transparent'/></svg>"));
    }
  }

  input {
    width: 20px;
    height: 20px;
    color: inherit;
    margin: 0 0 0 (1rem * 2/3);
    background-image:  escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='20px' height='20px'><rect width='20' height='20' stroke-width='1' stroke='#a1a1a1' fill='transparent'/></svg>"));
    appearance: none;
    vertical-align: top;
    color-adjust: exact;

    &:focus {
      outline: none;
    }

    &:checked {
      background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='20px' height='20px'><rect width='20' height='20' fill='#E05340'/><path d='M4,9.9L8,14.3 16,6.5' fill='none' stroke-width='1' stroke='#fff'/></svg>"));

      + label {
        color: var(--color-white);
      }
    }
  }

  label {
    flex: 1 1 auto;
    padding: (1rem * 2/3);
    cursor: pointer;
  }
}

.dropdown-btns {
  display: flex;

  .btn {
    flex: 1 1 auto;
  }
}
