.form-control {
  display: block;
  margin-bottom: var(--spacer);
  flex: 1 1 auto;
  max-width: 100%;
  padding: 0.7rem 2rem 0.7rem 2.6rem;
  background-color: var(--color-dark);
  border: 1px solid transparent;
  color: var(--color-white);
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-family: $font-family-base;

  &::placeholder {
    color: var(--color-light);
  }

  &:focus {
    outline: none;
    border-color: var(--color-dimmer);
  }
}

.form-control-search {
  background-image: svg-data-url($icon-search);
  background-position: 0.75rem 0.85rem;
  background-repeat: no-repeat;
}

// Select
.form-select {
  display: inline-block;

  select {
    appearance: none;
    color: var(--color-light);
    padding: 0.2em 1.5em 0.2em 0.4em;
    border: 1px solid var(--color-dim);
    border-radius: 0;
    background: svg-data-url($icon-triangle) transparent no-repeat right 0.5em center;
    font-weight: 200;
    transition: border 0.2s ease;

    &:hover,
    &:focus {
      border-color: var(--color-light);
      color: var(--color-lighter);
    }

    &:focus {
      outline: none;
    }
  }
}
