@layer base {
  [type='checkbox'] {
    &:checked {
      background-image: svg-load('svg/checkbox.svg') !important;
    }
  }

  select {
    @apply bg-gray-900 border-0;
    background-image: svg-load('svg/select.svg', fill=#e2e8f0);

    &:hover {
      @apply bg-gray-850;
    }

    &:focus {
      @apply ring-gray-800;
    }
  }

  ::-webkit-search-cancel-button {
    @apply relative appearance-none rounded-full w-6 h-6;
    background-image: svg-load('svg/close.svg', stroke=#e2e8f0);
  }
}
