body {
  @apply bg-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  @apply grid gap-6;
  grid-template:
    'title search' auto
    'menu menu' auto
    / auto 1fr auto;

  @screen lg {
    grid-template: 'title search menu' auto / auto 1fr auto;
  }
}
