// Link
.link {
  display: inline-block;
  padding: 0;
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  cursor: pointer;
  transition: color 0.1s ease-out, border-color 0.1s ease-out;

  &:hover {
    color: var(--color-white);
  }

  &.badge {
    .game-teaser:hover & {
      border: 1px solid var(--color-dimmer);
    }

    &:hover {
      border-color: var(--color-mostdim) !important;
    }
  }
}

.link-underline {
  margin-right: 0.6em;
  padding: 0.2em 0;
  border-bottom: 1px dotted var(--color-dimmest);

  .game-teaser:hover & {
    border-color: var(--color-mostdim);
  }

  &:hover {
    border-color: var(--color-lighter) !important;
  }
}
