.section-title {
  @apply text-md uppercase text-gray-500 font-light pb-3 mb-6 border-b border-gray-900;
}

.formatted {
  @apply text-lg leading-snug font-light;

  @media sm {
    columns: 2;
    column-gap: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-md text-gray-400 mb-1 font-light uppercase mb-3;
    break-after: avoid;

    &:not(:first-child) {
      @apply mt-8;
    }
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  p {
    @apply mb-3;
  }

  a {
    @apply text-gradient relative;

    &:hover {
      @apply underline;
    }
  }
}

a[target='_blank']:not(.btn) {
  &:after {
    content: svg-load('svg/external.svg', fill=#848484);
    @apply absolute ml-1 -mt-1 text-gray-500;
  }
}
