@import "reset";
@import "functions";

@font-face {
  font-family: 'Natural Without';
  src: url('/fonts/NaturalWithout-Bold.woff2') format('woff2');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'Natural Without';
  src: url('/fonts/NaturalWithout-SemiBold.woff2') format('woff2');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Natural Without';
  src: url('/fonts/NaturalWithout-Regular.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Natural Without';
  src: url('/fonts/NaturalWithout-Light.woff2') format('woff2');
  font-display: swap;
  font-weight: 200;
}

$padding-btn-y: 0.8em;
$padding-btn-x: 0.6em;
$font-family-base: 'Natural Without', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

$darkest: #121212;
$darker: #1d1d1d;
$dark: #282828;
$dim: #3b3b3b;
$dimmer: #535353;
$dimmest: #6f6f6f;
$mostdim: #848484;
$light: #a1a1a1;
$lighter: #adadad;
$white: #fff;
$red: #e05340;

$orange: #FF9F29;
$magenta: #EF015B;

$icon-search: "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13.5 13.5' width='13'><circle cx='5.5' cy='5.5' r='5' fill='none' stroke='#{$light}'/><path d='M9.1 9.1L13 13' fill='none' stroke='#{$light}' stroke-linecap='round'/></svg>";
$icon-triangle: "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.4 7.1' width='8'><path fill='#{$dimmest}' d='M0 0h9.4L4.7 7.1z'/></svg>";

:root {
  --color-darkest: #{$darkest};
  --color-darker: #{$darker};
  --color-dark: #{$dark};
  --color-dim: #{$dim};
  --color-dimmer: #{$dimmer};
  --color-dimmest: #{$dimmest};
  --color-mostdim: #{$mostdim};
  --color-light: #{$light};
  --color-lighter: #{$lighter};
  --color-white: #{$white};
  --color-red: #{$red};
  --color-orange: #{$orange};
  --color-magenta: #{$magenta};

  --spacer: 15px;
  --spacer-sm: 5px;

  --font-size-lg: 1.2666666667rem;
}

@import "mixins";

html {
  font-size: 0.9375rem;
}

body {
  margin: 0;
  font-family: $font-family-base;
  background-color: var(--color-darkest);
  color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-size: 1.2666666667rem;
}

p {
  margin-top: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

// Layout
.container {
  padding: 0 var(--spacer);
}

.mb-spacer {
  margin-bottom: var(--spacer);
}

.d-none {
  display: none;
}

// Text styles
.font-weight-semibold {
  font-weight: 500;
}

.lead {
  font-size: var(--font-size-lg);
  font-weight: 500;
}

// Badges
.badges {
  --badge-spacer: 2.5px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(#{var(--badge-spacer)} * -1) 0.8rem;

  .link-badge {
    margin: 0 var(--badge-spacer);
  }
}

// Link
.link {
  display: inline-block;
  padding: 0;
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  cursor: pointer;
  transition:
    color 0.1s ease-out,
    border-color 0.1s ease-out;

  &:hover {
    color: var(--color-white);
  }
}

.link-underline {
  margin-right: 0.6em;
  padding: 0.2em 0;
  border-bottom: 1px dotted var(--color-dimmest);

  .game-teaser:hover & {
    border-color: var(--color-mostdim);
  }

  &:hover {
    border-color: var(--color-lighter) !important;
  }
}

.link-badge {
  border: 1px solid var(--color-dim);
  margin-bottom: var(--badge-spacer);
  padding: calc(#{var(--badge-spacer)} * 1.2) calc(#{var(--badge-spacer)} * 2);

  .game-teaser:hover & {
    border: 1px solid var(--color-dimmer);
  }

  &:hover {
    border-color: var(--color-mostdim) !important;
  }
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  padding: $padding-btn-y $padding-btn-x;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-link {
  background: none;
  color: var(--color-light);
  border: none;
  padding: 0;

  &:hover {
    color: var(--color-white);
  }
}

.btn-dim {
  background-color: var(--color-dark);
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 500;
  border: none;

  &:hover {
    background-color: var(--color-dim);
  }
}

.btn-white {
  background-color: var(--color-white);
  color: var(--color-dark);
}

.border-nice {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to right, var(--color-magenta) 0%, var(--color-orange) 100%);
  }
}

@import "layout";
@import "form";
@import 'dropdown';
@import "tag";
