.dropdown {
  position: relative;
  pointer-events: none;

  &.open {
    z-index: 1000;
  }
}

.dropdown-toggle {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-dark);
  border-color: var(--color-dark);
  border-bottom: none;
  font-size: 1rem;
  padding: $padding-btn-y $padding-btn-x;
  pointer-events: initial;

  &:active {
    border-style: solid;
    border-bottom: none;
    box-shadow: none;
  }

  &:focus {
    outline: none;
  }

  &:after {
    content: '';
    display: inline-block;
    margin-top: 0.2em;
    margin-left: 0.5em;
    border-top: 5px var(--color-dimmest) solid;
    border-left: 4px transparent solid;
    border-right: 4px transparent solid;
  }

  .dropdown.open & {
    background-color: var(--color-darkest);

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -1px;
      top: 100%;
      width: 100%;
      height: calc(var(--spacer-sm) + 1px);
      background-color: var(--color-darkest);
      border-left: 1px var(--color-dark) solid;
      border-right: 1px var(--color-dark) solid;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: -1;
  margin-top: var(--spacer-sm);
  width: 320px;
  max-width: calc(100vw - var(--spacer) * 2);
  background-color: var(--color-darkest);
  border: 1px solid var(--color-dark);
  padding: $padding-btn-y $padding-btn-x;
  pointer-events: initial;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.45);

  .dropdown.open & {
    display: flex;
    flex-direction: column;
  }
}

.dropdown-options {
  margin-bottom: 1rem;
}

.dropdown-option {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-light);
  -webkit-font-smoothing: antialiased;

  &:hover,
  &.highlighted {
    background-color: var(--color-darker);
    color: var(--color-white);

    input {
      background-image:  escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='20px' height='20px'><rect width='20' height='20' stroke-width='1' stroke='#fff' fill='transparent'/></svg>"));
    }
  }

  input {
    width: 20px;
    height: 20px;
    color: inherit;
    margin: 0 0 0 (1rem * 2/3);
    background-image:  escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='20px' height='20px'><rect width='20' height='20' stroke-width='1' stroke='#a1a1a1' fill='transparent'/></svg>"));
    appearance: none;
    vertical-align: top;
    color-adjust: exact;

    &:focus {
      outline: none;
    }

    &:checked {
      background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='20px' height='20px'><rect width='20' height='20' stroke-width='1' stroke='#E05340' fill='transparent'/></svg>"));

      + label {
        color: var(--color-white);
      }
    }
  }

  label {
    flex: 1 1 auto;
    padding: (1rem * 2/3);
    cursor: pointer;
  }
}
