@tailwind base;
@tailwind components;

@import '_layout.css';
@import '_autocomplete.css';
@import '_button.css';
@import '_helpers.css';
@import '_game.css';
@import '_type.css';
@import '_img.css';
@import '_header.css';

@font-face {
  font-family: 'Natural Without';
  src: url('/fonts/NaturalWithout-Bold.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Natural Without';
  src: url('/fonts/NaturalWithout-SemiBold.woff2') format('woff2');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'Natural Without';
  src: url('/fonts/NaturalWithout-Regular.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Natural Without';
  src: url('/fonts/NaturalWithout-Light.woff2') format('woff2');
  font-display: swap;
  font-weight: 300;
}

body {
  @apply bg-gray-1000;
}

@tailwind utilities;
