.game-teaser {
  background-color: var(--color-dark);
  font-weight: 200;
  font-size: 0.9375rem;
  color: var(--color-light);
  text-decoration: none;
  border: 1px solid;
  border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
  transition:
    background-color 0.1s ease-out,
    border 0.2s;

  img {
    width: 100%;
  }

  h2 {
    min-height: 42px;
    margin-top: 0.3em;
    color: var(--white);
  }

  &:hover {
    background-color: var(--color-dim);
    border-image: conic-gradient(yellow, lime, aqua, blue, magenta, red, yellow) 1;
  }
}

.game-teaser-content {
  display: grid;
  grid-template:
    "studio year" auto
    "title title" auto
    "platforms platforms" auto
    "genres players" auto
    / 1fr 1fr;
  padding: var(--spacer);
}
